
body {
	font-family: 'Pacifico';
	background: #2A2A33;
	color: #FAFAFA;
}

h1 {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 2%;
}

#slider {
	margin: 0 auto;
}
#slider .rs-path-color {
	background-color: #FFEB3B;
	border: 0;
}
#slider .rs-range-color {
	background-color: #18FFFF;
}
#slider .rs-handle {
	background-color: #2A2A33;
	/*border-left: 5px solid #FFEB3B;
	border-top: 5px solid #FFEB3B;
	border-right: 5px solid #18FFFF;
	border-bottom: 5px solid #18FFFF;*/
}
#slider .rs-border {
	border: 5px solid #2A2A33;
}
#slider .rs-bg-color {
	background-color: #2A2A33;
}


#toggleSound {
	position: absolute;
	transition: top 0.5s ease-out, left 0.5s ease-out;
	font-size: 20em;
	background: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
	box-sizing: border-box;
}
#toggleSound:focus {
	outline: none;
}
#toggleSound > i {
	color: #18FFFF;
}

#tempo {
	position: absolute;
	transition: top 0.5s ease-out, left 0.5s ease-out;
	color: #FFEB3B;
	font-size: 20em;
	background: rgba(0, 0, 0, 0);
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}